*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  /* background-color: rgb(146, 189, 224); */
  background-color: rgb(255, 255, 255);

}


.top{
  width: 100%;
  /* margin: auto; */
  text-align: center;
  height: 150px;
  padding-top: 20px;
  border-bottom: 1px solid black;
  box-shadow:2px 4px 5px 2px   ;
}

.top h1{
  margin-top: 30PX;
  /* color: white; */
}

.right {
 
  display: flex;
align-items: center;
justify-content: center;
padding-top: 70px;

}
.right h2{
  padding-bottom: 50px;
  font-weight: normal;
}
.right h3{
  font-weight: normal;
}
.right p{
  padding: 10px 0;
}
.right form input[type="button"]{
      display: block;
  margin: 10px auto;
}
.right form input[type="text"]{
 padding: 5px 20px;
 width: 300px;
 border-radius: 6px;
 border: 2px solid rgb(212, 212, 212);
}
.right form input[type="text"]:hover{
  border:2px solid black;
}
.right label{
  display: block;
 margin: 10px;
}
